@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald&display=swap');

body {
  background-color: #ffd775;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='179' height='179' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d8b353' fill-opacity='0.29'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

/* header is here for alpha support */
.header {
  background-color: rgba(255, 255, 255, 0.611);
  font-family: 'Cabin', sans-serif;
}

/* Social Media */
.socials{
  background-color: rgba(255, 255, 255, 0.611);
  width: 50px;
  height: 100px;
  padding: 10px;
  margin-top: 500px;
  position: fixed;
}

.socIcon{
  color: #29a598;
  padding: 5px;
}

/* map container */
.leaflet-container {
  height: 400px;
  min-width: 1070px;
  margin: 10px auto;
  max-height: 100%;
}
